name: php-apache
services:
  php-apache:
    networks:
      dvc-net:
    ports:
      - ${PHP_IP_PORT:-127.0.0.1:8080}:80
      - ${PHP_BUILT_IN_IP_PORT:-127.0.0.1:10080}:10080

  php-apache-mysql:
    networks:
      dvc-net:
    ports:
      - ${MYSQL_IP_PORT:-127.0.0.1:13306}:3306

  php-apache-adminer:
    networks:
      dvc-net:
    ports:
      - ${ADMINER_IP_PORT:-127.0.0.1:5080}:8080

networks:
  dvc-net:
    name: dvc-wordpress-net
    external: true

volumes:
  workspace-data:
    name: dvc-wordpress-home-node-workspace-data
    external: true
  php-apache-data:
    name: dvc-wordpress-php-apache-data
    external: true
  php-apache-mysql-data:
    name: dvc-wordpress-php-apache-mysql-data
    external: true

include:
  - ./php-apache-core/compose.yaml